:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.listitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 24px !important;
  width: calc(100% - 40px);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  transform: scale(1);
}

.listitem.isFocused {
  margin-left: 0px;
  margin-right: 0px;
  width: calc(100% - 20px);
  background-color: #ffffff;
  color: #000000;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
}

.profilespage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ambientmodecontainer {
  height: 100vh;
  width: 100vw;
}

.mainrow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 100vh;
}

.profileiconinner {
  color: #ffffff;
  transition: all 0.1s ease-in-out;
}

.profilespagetitle {
  font-size: 30px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 60px;
}

.profileicon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 50%;
  background-color: #ffffff35;
  transition: all 0.1s ease-in-out;
}

.profile.isFocused > .profileicon > .profileiconinner {
  color: #000000;
}

.profile.isFocused > .profileicon {
  background-color: #ffffff;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile {
  scale: 1;
  transition: all 0.1s ease-in-out;
}

.profile.isFocused {
  scale: 1.1;
}

.profilespageinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.pagearea {
  transition: all 0.1s ease-in-out;
  height: calc(100vh);
  width: calc(100vw - 100px);
}

.sidebarView {
  display: flex;
  flex-direction: row;
}

.menuinner {
  /* background-color: #00000075; */
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 25px;
  width: 50px !important;
  height: calc(100vh - 50px);
  background: linear-gradient(270deg, #00000000, #00000000);
  transition: all 0.1s ease-in-out;
}

.menu.isFocused {
  width: 350px !important;
  min-width: 350px !important;
  max-width: 350px !important;
}

.menu.isFocused > .menuinner {
  width: 300px !important;
  /* background: linear-gradient(270deg, #00000000, #000000fa); */
  /* background-color: #0000009c;
  mask: linear-gradient(270deg, #00000000, #000000fa);
  backdrop-filter: blur(20px); */
}

.menu:not(.isFocused) > .menuinner > .menuitem {
  width: 24px !important;
}

.menu:not(.isFocused) > .menuinner > .menuitem > .menuitemtitle {
  width: 0px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.menuitemtitle {
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  width: auto;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.menuitem.isFocused > .menuitemtitle {
  font-weight: 600;
}

.menuitem {
  height: 24px !important;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 15px;
  top: 0;
  right: 0;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  transform: scale(1);
}

.approwtitle {
  font-size: 24px;
  font-weight: 600;
  padding-left: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.approw {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  overflow-x: scroll;
  padding: 50px;
  padding-top: 25px;
  padding-left: 25px;
  width: calc(100% - 75px);
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

.appitem.apppageitem {
  flex-shrink: 1 !important;
}

.apppagerow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 30px;
  padding-left: 25px;
  width: calc(100% - 75px);
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

.approw::-webkit-scrollbar {
  display: none;
}

.homeheadertitle {
  font-size: 24px;
  font-weight: 600;
  padding-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.homesearchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 999px;
  height: 25px;
  width: 250px;
  background-color: #ffffff39;
  transition: all 0.1s ease-in-out;
}

.homesearchbox.isFocused {
  background-color: #ffffff;
  color: #000000;
  scale: 1.1;
}

.listview {
  margin: 50px;
  margin-left: 5px;
  margin-top: 0px;
  gap: 10px;
}

.headericon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.profiletitle {
  font-size: 24px;
  font-weight: 600;
}

.profileemail {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff81;
}

.headericon.isFocused {
  background-color: #ffffff;
  color: #000000;
  scale: 1.1;
}

.homeheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.appitem {
  height: 120px;
  width: 220px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #ffffff;
  transition: all 0.1s ease-in-out;
  color: #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
} 

.appitem.isFocused {
  scale: 1.1;
}

.menuitem.isFocused {
  background-color: #ffffff;
  color: #000000;
  scale: 1.07;
}

.menuitem.isCurrent {
  background-color: #ffffff;
  color: #000000;
}

.mainbanner {
  margin: 50px;
  margin-left: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: calc(100% - 75px);
  height: calc(40vh - 50px);
  background-color: #ffffff;
  transition: all 0.1s ease-in-out;
  border-radius: 15px;
  outline: 0px solid transparent;
}

.mainbanner.isFocused {
  outline: 10px solid #dddddd;
}

.mainfocusnode {
  height: 100vh;
  width: calc(100vw - 100px) !important;
  min-width: calc(100vw - 100px) !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* background-color: #242424; */
  background-color:hsla(213.17532987953427,65%,4%,1);background-image:radial-gradient(circle at 1% 0%, hsla(212.3684210526316,81%,25%,0.61) 5.202913631633715%,transparent 53.01682626841344%);background-blend-mode:normal;
  color: #ffffff;
  width: 100vw;
  /* width: calc(100vw - 100px); */
  /* padding-left: 100px; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mediaplayercontrolsrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 50px;
  background: linear-gradient(180deg, #00000000, #000000a5);
}

.mediaplayerbase {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.mediaplayervideo {
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.mediaplayercontrols {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mediaplayercontrol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.mediaplayercontrol.isFocused {
  background-color: #ffffff;
  color: #000000;
  scale: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
